.navbar {
    padding-bottom: 90px;
}

.navbar ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 2.5% 0%;
    overflow: hidden;
    background-color: #333;
    background-attachment: sticky;
}

.navbar li {
    float: left;
}

.navbar li a {
    word-spacing: 3px;
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.Title {
    color : darkblue;
    font-size: 500%;
}

.Top {
    background-image: url(../images/Kermit_Background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

#Chat a {
    text-align: center;
    padding: 500x;
    border: black 5px solid;
    background-color: white;
    text-decoration: none;
    color: black;
}

.Maskot-Text a {
    text-decoration: none;
    color: white;
    display: block;
}

.Maskot-Text {
    font-family: 'Playfair Display', serif;
    font-size: 90%;
    margin-left: 86%;
    margin-top: -3.5%;
    padding: 14px;
    background-color: black;
    opacity: 0.75;
    color: white;
    text-align: center;
}

.space {
    font-size: 50px;
}

.cookie-button {
    text-decoration: none;
    color: black;
}

.MOTW-txt {
    font-size: 50px;
    color: darkblue;
}

.More-Space {
    word-spacing: 0.1em;
}

.list-invisible {
    list-style: none;
}

.Ad-Text {
    font-size: 30px;
}

a {
    color: red;
}

body {
    background-color: #008000;
}

.Top .Subtitle {
    color: darkblue;
}

body {
    color: white;
}

.break {
    color: black;
}