.Member-list {
    color : darkblue;
}
.Title {
    color : red;
    font-size : 100px;
}

.banner {
    background-image: url(../images/Kermit_Background.jfif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95px;
}

.Maskot-Text {
    color: white !important;
    font-style: italic !important;
    
}

.Maskot-Text {
    
    text-align: end;
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 14px;
    margin-left: 1200px;
    margin-top: -60px;
    padding: 10px;
    top: 80%;
    width: 7.7%;
    background-color: black;
    opacity: 0.75;
    
    

}

.Navbar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.Navbar li {
    display: inline-block;
    padding: 17px 50px;
    font-size: 25px;
    
}

.Navbar a {
    text-decoration: none;
    color: blue;
}

.space {
    font-size: 50px;
}

.cookie-button {
    text-decoration: none;
    color: black;
}




.Entries {
    background-image: url(../images/Kermit_Face.jfif);
    background-repeat: no-repeat;
    background-size: 700px 500px;
}

.Entries h1{
    padding: 5px 50px;
    margin-left: -30px;
}

.Entries ul li span {
    font-size: 20px;
    color: white;
}


